<nav>
  <div class="site-title">
    <a href="/"><h1>Games</h1></a>
    <p>Simple Viral Games</p>
  </div>
  <ul>
    <li><a href="/">Games</a></li>
    <li><a href="/games/create">New Game</a></li>
  </ul>
</nav>